doctype html
html
  head
    meta(charset="utf-8")/
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/
    link(rel="icon", href="/favicon.ico", type="image/x-icon")/
    link(rel="icon", href="/favicon-16x16.png", type="image/png", sizes="16x16")/
    link(rel="icon", href="/favicon-32x32.png", type="image/png", sizes="32x32")/
    link(rel="icon", href="/favicon-192x192.png", type="image/png", sizes="192x192")/
    link(rel="apple-touch-icon", href="/apple-touch-icon.png", sizes="180x180")/
    link(rel="stylesheet", href="/style.min.css")/
    script(src="/main.min.js")/
    title Just Gulp - Hello, World!
  body
    img(src="/assets/images/logo.png", alt="Just Gulp logo")/
    main
      block main
    hr/
    footer
      p 🛠️ Just Gulp — #{version} #{license ? `(${license})` : ''}
