extends common/layout.pug
include common/banner.pug

block main
  h1 Page 2
  +banner('Pug', 'amazing')
  p
    | This is a content of Page 2 —
    |
    a(href="..") back
  p.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
    officia repellat iure pariatur tenetur voluptatum deleniti animi,
    veniam labore quae quo. Incidunt eligendi, repellendus ad
    necessitatibus vel consequatur corrupti obcaecati?
