extends pages/common/layout.pug

block main
  h1 Hello, World!
  p.
    It's <em>Just Gulp</em> — bare minimum boilerplate for your
    projects. Let's start development right now!
  ul
    li
      a(href='pages/page-1.html') Go to Page 1
    li
      a(href='pages/page-2.html') Go to Page 2
  p.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
    nostrum itaque facilis architecto ea, a autem nulla, totam
    laudantium vero tempore corporis quos earum sint fuga officia eaque
    dolorem velit.
